@media (max-width: 700px) {
  body {
    background-color: #6360ff;
    justify-content: center;
    padding : 0px ;
    margin : 0px;
    height:  138.4mm;
  }
  header {
    text-align: center;
    margin-top: 100px;
    color: white;
  }
  p {
    font-size: 17px;
  }
  /* Style of the section*/
  .main-section {
    background-color: #f1f1fa;
    width: 100%;
    height: 300px;
    align-items: center;
    margin-top: 45px;
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    border-top-left-radius: 23px;
    border-top-right-radius: 9px;
    height: 54%;
  }
  /*Style div of the email input*/
  .email-part {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  #email-icon {
    margin-top: 25px;
    width: 22px;
    height: 42px;
    background-color: #fcfcff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #email {
    margin-top: 25px;
    height: 40px;
    width: 280px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /*Style div of the password input*/
  .password-part {
    display: flex;
    justify-content: center;
  }
  #password-icon {
    width: 22px;
    height: 42px;
    background-color: #fcfcff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #password {
    height: 40px;
    width: 280px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .center-layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-in {
    height: 40px;
    width: 302px;
    border: none;
    border-radius: 5px;
    background-color: #6360ff;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .sign-in-with-google {
    height: 40px;
    width: 302px;
    border: none;
    border-radius: 5px;
    background-color: #ff8181;
    color: white;
    margin-bottom: 25px;
  }
  footer {
    text-align: center;
    width: 100%;
    background-color: #f1f1fa ;
    margin-top: 0px;
    height: 77px;
  }
  .footer-text {
    font-size: 13px;
    color: #91919f;
  }
}
